{% extends 'base.html.jinja' %}

{% block header %}
  {% block title %}Register{% endblock %}
{% endblock %}

{% block content %}
  <form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name">
    <label for="email_list">Subscribe to Email List</label>
    <input type="checkbox" name="email_list" id="email_list">

    <!-- Location select menu -->
    <label>Select City</label>
    <div>
        <select class="selectpicker" data-live-search="true" id="city_id" name="city_id">
            <option value="1">Adelaide</option>
            <option value="2">Albany</option>
            <option value="3">Albury</option>
            <option value="4">Alice Springs</option>
            <option value="5">Badgerys Creek</option>
            <option value="6">Ballarat</option>
            <option value="7">Bendigo</option>
            <option value="8">Brisbane</option>
            <option value="9">Cairns</option>
            <option value="10">Canberra</option>
            <option value="11">Cobar</option>
            <option value="12">Coffs Harbour</option>
            <option value="13">Dartmoor</option>
            <option value="14">Darwin</option>
            <option value="15">Gold Coast</option>
            <option value="16">Hobart</option>
            <option value="17">Katherine</option>
            <option value="18">Launceston</option>
            <option value="19">Melbourne</option>
            <option value="20">Melbourne Airport</option>
            <option value="21">Mildura</option>
            <option value="22">Moree</option>
            <option value="23">Mount Gambier</option>
            <option value="24">Mount Ginini</option>
            <option value="25">Newcastle</option>
            <option value="26">Nhil</option>
            <option value="27">Norah Head</option>
            <option value="28">Norfolk Island</option>
            <option value="29">Nuriootpa</option>
            <option value="30">Pearce RAAF</option>
            <option value="31">Penrith</option>
            <option value="32">Perth</option>
            <option value="33">Perth Airport</option>
            <option value="34">Portland</option>
            <option value="35">Richmond</option>
            <option value="36">Sale</option>
            <option value="37">Salmon Gums</option>
            <option value="38">Sydney</option>
            <option value="39">Sydney Airport</option>
            <option value="40">Townsville</option>
            <option value="41">Tuggeranong</option>
            <option value="42">Uluru</option>
            <option value="43">Wagga Wagga</option>
            <option value="44">Walpole</option>
            <option value="45">Watsonia</option>
            <option value="46">Williamtown</option>
            <option value="47">Witchcliffe</option>
            <option value="48">Wollongong</option>
            <option value="49">Woomera</option>
        </select>
    </div>
    
    <input type="submit" value="Register">
  </form>

  <li><a href="{{ url_for('auth.login') }}">Already have an account?</a>
{% endblock %}
