{% extends 'base.html.jinja' %}

{% block title %}
  Register
{% endblock %}

{% block header %}
  Register
{% endblock %}

{% block content %}
  <form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name">
    <label for="email_list">Subscribe to Email List</label>
    <input type="checkbox" name="email_list" id="email_list">
    <input type="submit" value="Register">
  </form>

  <li><a href="{{ url_for('auth.login') }}">Already have an account?</a>
{% endblock %}
