{# This template expects the parameter: figure_html - a plotly figure object in html string form#}
{% extends "base.html.jinja" %}

{% block head %}{% endblock %}
{% block title %}
    Graph
{% endblock %}

{% block header %}
    Graph
{% endblock %}

{% block content %}
    {# Render date selection drop-down menu #}
    </br>
    <label>Start date</label>
    {% include 'helpers/select_date.html.jinja' %}
    <label>End date</label>
    {% include 'helpers/select_date.html.jinja' %}

    {# embedded graph #}
    {{ figure_html }}

{% endblock %}