{# 
This template expects the following parameters: 
 -- graph_html - a dictionary containing 2 graph objects in html string form (light and dark)
 -- url_args - a dictionary with the keys: 
    - stat
    - city_name
    - start_date
    - end_date
#}
{% extends "base.html.jinja" %}
{% import 'helpers/selectors.html.jinja' as selectors %}

{% block title %}
    Graphs
{% endblock %}

{% block header %}
    Graphs
{% endblock %}

{% block content %}
    <div class="visualization-grid">
        
        {# Selection menus #}
        <div class="select-table-container">
            <br>
            <table class="select-table">
                <tr>
                    <th>Statistic</th>
                    <th>Location</th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
                <tr>
                    <td>{{ selectors.select_stat( url_args['stat']) }}</td>
                    <td>{{ selectors.select_single_location( url_args['city_name']) }}</td>
                    <td>{{ selectors.select_date( 'start_', url_args['start_date']) }}</td>
                    <td>{{ selectors.select_date( 'end_', url_args['end_date']) }}</td>
                    <td>
                        <button onclick="reloadPageWithArgs(
                            `stat=${getStatFromSelection()}`
                            + `&city_name=${getCityFromSelection()}`
                            + `&start_date=${getDateFromSelection('start_')}`
                            + `&end_date=${getDateFromSelection('end_')}`
                        )">
                            Submit
                        </button>
                    </td>
                </tr>
            </table>

            <br>
        </div>

        {# graph title #}
        {% if url_args['stat'] != None %}
            <h2>
                {{ url_args['stat'].capitalize() }} Data for {{ url_args['city_name'] }} over Time
            </h2>
            {# <p>
                If the graph is not centered or seems weirdly small, try zooming in and out in your browser or resizing the window. (This is a documented Plotly bug and we can't fix it right now)
            </p> #}
        {% endif %}

        {# embedded graph svg #}
        <div class="visualization"
            {% if url_args['stat'] == 'wind' %}
                style="justify-self: center; padding-top: 10px"
            {% else %}
                style="justify-self: center;"
            {% endif %}
         id="vis"
        >
            {# one of these is hidden and one is shown at all times #}
            <div id="light-mode-graph">
                {{ graph_html.light }}
            </div>
            <div id="dark-mode-graph">
                {{ graph_html.dark }}
            </div>

            <script>
                updateGraph(); // (called here for initial page load)
            </script>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/submit.js') }}"></script>
{% endblock %}