{% extends 'base.html.jinja' %}
{% import 'helpers/selectors.html.jinja' as selectors %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock %}
{% block title %}
    Map
{% endblock %}

{% block header %}
    Map  

    <br>
    
    <div class="button-container">
      <button onclick="window.location.href= '{{ url_for('views.weather_summary') }}';" class="button-style-headers">
        Weather Summary
      </button>
      <button onclick="window.location.href= '{{ url_for('views.graph') }}';" class="button-style-headers">
        Graphs
      </button>
      <button onclick="window.location.href= '{{ url_for('views.settings') }}';" class="button-style-headers">
        Settings
      </button>
      <button onclick="window.location.href= '{{ url_for('auth.admin_dashboard') }}';" class="button-style-headers">
        Admin Dashboard
      </button>
    </div>
{% endblock %}
{% block content %}
    <div class="visualization-grid">

        <div class="select-table-container">
            <br>
            <div style="overflow-x: auto;">
                <table class='select-table'>
                    <tr>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>{{ selectors.select_date() }}</td>
                    </tr>
                </table>
            </div>
            <br>
        </div>

        <div class="visualization">
            <div id="map" style="height: 80vh; width: 100%;"></div>
        </div>
        
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/init_map.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Ensure the DOM is fully loaded before calling initMap
            // Assuming initMap is globally accessible once init_map.js is loaded
            initMap();
        });
    </script>
{% endblock %}
