{#
This template expects the following parameters:
  -- weather_dict, with keys:
    - 'city_name',
    - 'date',
    - 'temp_high', 
    - 'temp_low', 
    - 'rainfall', 
    - 'raining', 
    - 'wind_speed', 
    - 'wind_dir'
  -- url_args dict, with keys
    - 'city_name'
    - 'date'
#}
{% extends 'base.html.jinja' %}
{% import 'helpers/selectors.html.jinja' as selectors %}

{% block title %}
  Weather Summary
{% endblock %}

{% block header %}
  Weather Summary
{% endblock %}

{% block content %}

  <br>
  <div style="overflow-x: auto;">
    <table class='select-table'>
      <tr>
        <th>Location</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>{{ selectors.select_single_location( url_args['city_name']) }}</td>
        <td>{{ selectors.select_date('', url_args['date']) }}</td>
        <td>
          <button onclick="reloadPageWithArgs(`city_name=${getCityFromSelection()}&date=${getDateFromSelection()}`)">
            Submit
          </button>
        </td>
      </tr>
    </table>
  </div>

  <h3>{{weather_dict['city_name']}} — {{ weather_dict['date'] }}</h3>

  <font size="+2">{{ weather_dict['temp_high'] }}&deg</font><font size="-2"><sub>high</sub></font> |
  <font size="+2">{{ weather_dict['temp_low'] }}&deg</font><font size="-2"><sub>low</sub></font>

  <br>
  <br>

  <table>
    <tr>
      <td>It is raining | <b>{{ weather_dict['raining'] }}</b></td>
      <td>Precipitation% | <b>{{ weather_dict['rainfall'] }}</b></td>
    </tr>
    <tr>
      <td>Wind speed | <b>{{ weather_dict['wind_speed'] }}</b></td>
      <td>Wind direction | <b>{{ weather_dict['wind_dir'] }}</b></td>
    </tr>
  </table>

  <br>
  <br>

  {% if rain_prediction == 0 %}
    {% set will_or_will_not = 'WILL NOT'%}
  {% else %}
    {% set will_or_will_not = 'WILL'%}
  {% endif %}

  <p>Our AI model predicts that it <b>{{ will_or_will_not }}</b> rain tomorrow.</p>
  


{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/submit.js') }}"></script>
{% endblock %}