{# 
This template expects the following parameters: 
 -- event_args - a dictionary with the keys: 
    - city_name         The name of the city
    - data_point        data point for the weather event
#}
{% extends 'notif/email_base.html.jinja' %}
{% block weather_event %}high temperatures{% endblock %}
{% block weather_event_details %}Expect a temperature high of {{ event_args['data_point'] }}&deg;C.{% endblock %}