{# 
This template expects the following parameters: 
 -- event_args - a dictionary with the keys: 
    - city_name         The name of the city
    - data_point    First data point for the weather event
#}
{% extends 'notif/email_base.html.jinja' %}

{% block weather_event %}rain{% endblock %}
{% block weather_event_details %}Expect {{ event_args['data_point'] }}mm of rain.{% endblock %}