{# 
This template expects the following parameters: 
 -- event_args - a dictionary with the keys: 
    - city_name         The name of the city
    - data_point    First data point for the weather event
#}
<!DOCTYPE html>
<html lang="en">
<html>
    <body>
        <h1>Weather alert for {{ event_args['city_name'] }}.</h1>
      	<br>
      	<p>
          Hello, you are receiving this alert because {{ event_args['city_name'] }} is expecting low temperatures.
      	</p>
     	<p>
      	  Expect a temperature low of {{ event_args['data_point'] }}&degC.
      	</p>
    </body>
</html>