{# 
This template expects the following parameters: 
 -- event_args - a dictionary with the keys: 
    - city_name         The name of the city
    - data_point    First data point for the weather event
#}
{% extends 'notif/email_base.html.jinja' %}

{% block weather_event %}high wind speeds and gusts{% endblock %}
{% block weather_event_details %}
    Expect wind speeds up to {{ event_args['data_point'] }}km/h.
{% endblock %}
