
<!--

    This is a starter template for the email notifications that the app will send out. Perhaps it 
    would be better to have a base notification template and extend it for the different weather alerts? 

    The templates will include some Jinja code to insert the variable fields. E.G., an alert for Alsbury should
    have the city name Alsbury and detail what the weather alert is for and the data associated. The city name, data,
    and some of the structure of the template will need to be interchangeable.

-->

<!DOCTYPE html>
<html lang="en">
<html>
    <body>
        <h1>Weather alert for {{ city }}</h1>
        
    </body>
</html>