{% extends 'base.html.jinja' %}
{% import 'helpers/selectors.html.jinja' as selectors %}

{% block title %}
  Admin Dashboard
{% endblock %}

{% block header %}
  Admin Dashboard
{% endblock %}


{% block content %}

  <div align="center">

    <!--  section for changing weather data   -->

    <div style="display: inline-block">
     <form id="highTempForm" method="post" action="/admin">
        <div style="overflow-x: auto;">
          <table class='select-table'>
            <th>
              <h3>Update Weather:</h3>
            </th>
            <tr>
              <th>City:</th>
              <th>Date:</th>
              <th></th>
            </tr>
            <tr>
              <td>
                {{selectors.select_location(cities, "Canberra")}}
              </td>
              <td>
                <input type="date" id="date" name="date" required min="2008-01-01" max="2017-06-24" value="{{ url_args['date'] }}">
              </td>
              <td>
                <button onclick="reloadPageWithArgs(`city_name=${getCityFromSelection()}&date=${getDateFromSelection()}`)">
                  Submit
                </button>
              </td>
            </tr>
          </table>
        </div>

       <div class="row">
          <div class="col-md-4">
            <label for="tempMin">Temperature Min:</label>
            <input type="number" id="tempMin" name="tempMin" required>
          </div>
          <div class="col-md-4">
            <label for="tempMax">Temperature Max:</label>
            <input type="number" id="tempMax" name="tempMax" required>
          </div>
        </div>
        <button type="submit" form="highTempForm">Update Temperature</button>
      </form>
    </div>

    <!--  section for alerts   -->

    <div style="display: inline-block">
      <form id ="alertForm" method="post" action ="{{ url_for("admin.admin_alert") }}">

      <div style="overflow-x: auto;">
      <table class="select-table">
        <th>
          <h3>Send Alert:</h3>
        </th>
        <tr>
          <th>Select City</th>
          <th>Select Date</th>
          <th>Alert Type</th>
        </tr>
        <tr>
          <td>{{ selectors.select_event_location( url_args['city_name']) }}</td>
          <td> <input type="date" id="eventDate" name="eventDate" required min="2008-01-01" max="2017-06-24" value="{{ url_args['date'] }}"> </td>
          <td>{{ selectors.select_weather_event( url_args['weather_alert']) }}</td>
          <td>
            <button type="submit" form="alertForm">Send Alert</button>
          </td>
        </tr>
      </table>

      </form>

      </div>
    </div>
  </div>
{% endblock %}
