{% extends 'base.html.jinja' %}

{% block title %}
  Home
{% endblock %}

{% block header %}
  Home
{% endblock %}

{% block content %}
<ul>
  <div class="button-container">
    <button onclick="window.location.href = '{{ url_for('views.map') }}';" class="button-style">Map</button>
    <button onclick="window.location.href = '{{ url_for('views.weather_summary') }}';" class="button-style">Weather Summary</button>
    <button onclick="window.location.href = '{{ url_for('views.graph_past') }}';" class="button-style">Graphs</button>
  </div>

  <!-- Weather information for home city goes here -->
    
</ul>
{% endblock %}


