<!--
    sources:
    https://codepen.io/Rio517/pen/NPLbpP
    https://www.youtube.com/watch?v=jIAPewyzrp0
-->

{% extends 'select_date.html.jinja' %}

{% block head %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block title %}
    Location Select
{% endblock %}

{% block header %}
    Location Select
{% endblock %}
{% block content %}

    <div>
        <h1 align="center">Select City and Date</h1>
        
        <div align="center">
            <label>Select Date</label>
            <div>{{ super() }}</div>
        </div>

        <div align="center">
            <label>Select City</label>
            <div>
                <select class="selectpicker" data-live-search="true" id="citySelect">
                    <option value="1">Adelaide</option>
                    <option value="2">Albany</option>
                    <option value="3">Albury</option>
                    <option value="4">Alice Springs</option>
                    <option value="5">Badgerys Creek</option>
                    <option value="6">Ballarat</option>
                    <option value="7">Bendigo</option>
                    <option value="8">Brisbane</option>
                    <option value="9">Cairns</option>
                    <option value="10">Canberra</option>
                    <option value="11">Cobar</option>
                    <option value="12">Coffs Harbour</option>
                    <option value="13">Dartmoor</option>
                    <option value="14">Darwin</option>
                    <option value="15">Gold Coast</option>
                    <option value="16">Hobart</option>
                    <option value="17">Katherine</option>
                    <option value="18">Launceston</option>
                    <option value="19">Melbourne</option>
                    <option value="20">Melbourne Airport</option>
                    <option value="21">Mildura</option>
                    <option value="22">Moree</option>
                    <option value="23">Mount Gambier</option>
                    <option value="24">Mount Ginini</option>
                    <option value="25">Newcastle</option>
                    <option value="26">Nhil</option>
                    <option value="27">Norah Head</option>
                    <option value="28">Norfolk Island</option>
                    <option value="29">Nuriootpa</option>
                    <option value="30">Pearce RAAF</option>
                    <option value="31">Penrith</option>
                    <option value="32">Perth</option>
                    <option value="33">Perth Airport</option>
                    <option value="34">Portland</option>
                    <option value="35">Richmond</option>
                    <option value="36">Sale</option>
                    <option value="37">Salmon Gums</option>
                    <option value="38">Sydney</option>
                    <option value="39">Sydney Airport</option>
                    <option value="40">Townsville</option>
                    <option value="41">Tuggeranong</option>
                    <option value="42">Uluru</option>
                    <option value="43">Wagga Wagga</option>
                    <option value="44">Walpole</option>
                    <option value="45">Watsonia</option>
                    <option value="46">Williamtown</option>
                    <option value="47">Witchcliffe</option>
                    <option value="48">Wollongong</option>
                    <option value="49">Woomera</option>
                </select>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
        <script src="{{ url_for('static', filename='js/location_select.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                // Ensure the DOM is fully loaded before calling initMap
                // Assuming initLocationSelect is globally accessible once location_map.js is loaded
                initLocationSelect();
            });
        </script>
    </div>
    
    <br><br>

    <div align="center">
        <a class="button" id="submitButton" href="{{ url_for('views.weather_summary') }}">Done</a>
    </div>

{% endblock %}