{% extends 'base.html.jinja' %}
{% import 'helpers/selectors.html.jinja' as selectors %}
{% block title %}
  User Settings
{% endblock %}

{% block header %}
  User Settings
{% endblock %}

{% block content %}
  <h2>Update Profile</h2>

  <form id="userSettingsForm" method="post" action="{{ url_for('settings.settings') }}">
    <div style="display: flex; align-items: center;">
      <label for="emailList">Email List:</label>
      <input type="checkbox" id="emailList" name="emailList" {% if user.emailList %} checked {% endif %}>
    </div>
    <br>

    {{ selectors.select_location(cities, user.cityId) }}<br><br>

    <div class="button-container">
      <button type="submit" class="button-style">Update Settings</button>
    </div>
  </form>
{% endblock %}
