{% extends 'base.html.jinja' %}
{% import 'helpers/selectors.html.jinja' as selectors %}
{% block title %}
  User Settings
{% endblock %}

{% block header %}
  User Settings
{% endblock %}

{% block content %}
<div class="centered-content">
  <form id="userSettingsForm" method="post" action="{{ url_for('settings.settings') }}">

    <table class='select-table' style="display:flex; padding-top: 10px;">
          <tr>
            <td>
              <label for="emailList">Email List:</label>
              <input class="themed-checkbox" type="checkbox" id="emailList" name="emailList" {% if user.emailList %} checked {% endif %}>
            </td>
            <td>
              {{ selectors.select_location(cities, user.cityId) }}
            </td>
            <td>
              <button type="submit">Update Settings</button>
            </td>
          </tr>
        </table>

  </form>
</div>
{% endblock %}
