/*------------------------------------- 
style.css

One humungous style sheet with a bunch of
duct-taped css. 

Resources:
- Flaskr tutorial
- W3 schools have a lot of really helpful css docs
- [CSS Tricks: Grids](https://css-tricks.com/snippets/css/complete-guide-grid/)
----------------------------------------*/

html { font-family: 'Roboto', sans-serif; font-size: 0.9rem; background: #eee }
body {
  margin: 0;
  background: white;
  min-height: 100vh; /* Change height to min-height */
  display: flex;
  flex-direction: column;
}
h1 { font-family: 'Rubik', sans-serif; font-weight:700; font-size: 1.5rem; color: #00843D; margin: 0.9rem 0; }
h2 { font-family: 'Roboto', sans-serif; font-weight:600; font-size: 2.75rem; margin: 1rem 0; }
a { color: #00843D; }
hr { border: none; border-top: 1px solid rgb(160, 157, 157); }
nav { background: #FFCD00; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; font-size: 1rem; padding: 0.5rem; }

/* CUSTOM CLASSES WE GOT FROM THE FLASKR TUTORIAL (but tweaked ourselves) */
.content { padding: 0 1rem 1rem;}
.content > header { display: flex; align-items: flex-end; text-align: center}
.content > header h1 { flex: auto; font-size: 2.75rem; margin: 1rem 0 0.25rem 0;}
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; display: flex; align-items: center; }
.content input, .content textarea { margin-bottom: 1em; }
.content input[type=checkbox] { margin-right: 0.5em; }
.content textarea { min-height: 12em; resize: vertical; }
.dropdown-style { font-size: 12px; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

/* [[[[[[[[[[[[[[[[ TABLES AND WIDGETS ]]]]]]]]]]]]]]]]]]]]]]] */
/* Select Table */
.select-table {
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 6px;
  background-color: #FFCD00;
  font-size: 13px;
  max-width: none;
}
.select-table th {
  border-style: hidden;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
.select-table td {
  border-style: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: left;
}

/* Widget Table */
.widget-table {
  border-style: hidden;
  border-collapse: collapse;
}
.widget-table td {
  border-style: hidden;
  padding: 5px;
}

/* Info Widget */
.info-widget {
  background-color: #e1f4ff;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 5px;
  min-width: 110px;
  max-width: none
}
.info-widget img {
  display: block;
  padding: 5px;
  margin: auto;
}
.info-widget div {
  flex: 1;
  display: inline-block;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
.info-widget label {
  font-weight: bold;
  margin: 0px;
}
.info-widget span {
  font-size: 150%;
  font-weight: normal;
  padding-bottom: 0px;
}
.info-widget > .prediction{
  text-align: center;
  margin: auto;
}

/* ooooooooooooooooooooo Buttons ooooooooooooooooooooooooooooo */
/* Link Buttons */
.button-style-headers {
  background-color: #00843D;
  color: #FFCD00;

  display: block;
  border-radius: 6px;
  border: 0px;
  padding: 6px 10px; 

  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;

  margin: 0px 5px; 
  cursor: pointer;
}
.button-style-headers:hover {
  background-color: #359251;
}

/* Dark mode toggle button */
#mode-toggle-button {
  background-color: #4b6e52;
  color: #fff;
  border: 0px;
  border-radius: 6px;

  padding: 5px;
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;

  font-size: 70%;
  font-weight: bold;
}
#mode-toggle-button:hover {
  background-color: #161d17;
}

/* ((((((((((((((((((( FLEXBOXES ))))))))))))))))))) */
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* ################# GRIDS ################## */
/* Weather Summary */
.weather-summary-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin: 20px
}
.weather-summary-grid #all-except-weather-details {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: end;
}
#all-except-weather-details .graph-container {
  display: flex;
  justify-content: center;
}
.weather-summary-grid > #weather-details {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: start;
}

/* Weather Overview */
.weather-overview-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}
.weather-overview-grid .overview-header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  justify-self: center
}
.weather-overview-grid .main-icon {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 5px;
  justify-self: end;
}
.weather-overview-grid .widget-table-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
}
.weather-overview-grid .prediction-container {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  justify-self: center stretch;
  padding: 5px
}

/* Visualizations */
.visualization-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.visualization-grid .select-table-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
}
.visualization-grid h2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
}
.visualization-grid .visualization {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  justify-self: stretch;
  padding: 0px 20px 20px 20px;

  display: flex;
  flex-direction: column;
}

/* ================= Dark mode ==================== */
/* https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp */

body.dark-mode,
body.darkmode .select-table option, 
body.darkmode .select-table button {
  background-color: #424843; 
  color: #fff;
}

body.dark-mode nav,
body.dark-mode .button-style,
body.dark-mode .select-table {
  background-color: #161d17;
  color: #fff; 
}

body.dark-mode a {
  color: #6dad7a
}
body.dark-mode header h1 {
  color: #6dad7a
}

body.dark-mode .post .about,
body.dark-mode input[type="submit"],
body.dark-mode .button-style {
  color: #fff; 
}

body.dark-mode .info-widget {
  background-color: #5a605b; 
  color: #fff; 
}
body.dark-mode .select-table th,
body.dark-mode .select-table td {
  color: #fff; 
}

body.dark-mode .button-style-headers {
  background-color: #6dad7a;
  color: #161d17;
}
body.dark-mode .button-style-headers:hover {
  background-color: #00843D;
}

body.dark-mode #mode-toggle-button {
  background-color: #ffe8a3;
  color: #00843D;
}
body.dark-mode #mode-toggle-button:hover {
  background-color: #FFCD00;
}

/* Stuff for making graphs darkmode */
#light-mode-graph, #dark-mode-graph {
  display: none; /* this is the default, so that you don't get weird flashing on first page load */
}