{# --------------------------------------------------
icon_display.html.jinja
----------------------
Contains macros for displaying icons, including:
- main_weather_icon

Docs:
- [Jinja2 Docs: Macros](https://jinja.palletsprojects.com/en/3.1.x/templates/#macros)
-------------------------------------------------- #}

{# weather icon should be a string #}
{% macro main_weather_icon( weather_icon) %}

    {% if weather_icon == 'sun' %}
        <img src="{{ url_for('static', filename='img/marker_sun.png') }}" alt="Sunny" width="128" height="104">
    {% elif weather_icon == 'rain' %}
        <img src="{{ url_for('static', filename='img/marker_rain.png') }}" alt="Rainy" width="136" height="104">
    {% elif weather_icon == 'wind' %}
        <img src="{{ url_for('static', filename='img/marker_wind.png') }}" alt="Windy" width="176" height="104">
    {% elif weather_icon == 'cloud' %}
        <img src="{{ url_for('static', filename='img/marker_cloud.png') }}" alt="Cloudy" width="144" height="104"> 
    {% elif weather_icon == 'partcloud' %}
        <img src="{{ url_for('static', filename='img/marker_partcloud.png') }}" alt="Partly Cloudy" width="160" height="104">  
    {% else %}
        <img src="{{ url_for('static', filename='img/marker_error.png') }}" alt="Error" width="80" height="80">  
    {% endif %}

{% endmacro %}

{% macro temp_low_icon() %}
    <img src="{{ url_for('static', filename='img/temp_low.png') }}" alt="Low Temperature" width="30" height="30">
{% endmacro %}

{% macro temp_high_icon() %}
    <img src="{{ url_for('static', filename='img/temp_high.png') }}" alt="High Temperature" width="30" height="30">
{% endmacro %}

{% macro rain_icon( rain_today) %}

    {% if rain_today == 'Yes' %}
        <img src="{{ url_for('static', filename='img/rain.png') }}" alt="Raining" width="30" height="30">  
    {% else %}
        <img src="{{ url_for('static', filename='img/no_rain.png') }}" alt="Not Raining" width="30" height="30">  
    {% endif %}

{% endmacro %}

{% macro wind_dir_icon( wind_dir) %}

    {% if wind_dir == 'E' %}
        <img src="{{ url_for('static', filename='img/arrows/E.png') }}" alt="East" width="25" height="15">
    {% elif wind_dir == 'ENE' %}
        <img src="{{ url_for('static', filename='img/arrows/ENE.png') }}" alt="East-Northeast" width="25" height="25">
    {% elif wind_dir == 'ESE' %}
        <img src="{{ url_for('static', filename='img/arrows/ESE.png') }}" alt="East-Southeast" width="25" height="25">
    {% elif wind_dir == 'N' %}
        <img src="{{ url_for('static', filename='img/arrows/N.png') }}" alt="North" width="15" height="25">
    {% elif wind_dir == 'NE' %}
        <img src="{{ url_for('static', filename='img/arrows/NE.png') }}" alt="Northeast" width="25" height="25">
    {% elif wind_dir == 'NNE' %}
        <img src="{{ url_for('static', filename='img/arrows/NNE.png') }}" alt="North-Northeast" width="20" height="25">
    {% elif wind_dir == 'NNW' %}
        <img src="{{ url_for('static', filename='img/arrows/NNW.png') }}" alt="North-Northwest" width="20" height="25">
    {% elif wind_dir == 'NW' %}
        <img src="{{ url_for('static', filename='img/arrows/NW.png') }}" alt="Northwest" width="25" height="25">
    {% elif wind_dir == 'S' %}
        <img src="{{ url_for('static', filename='img/arrows/S.png') }}" alt="South" width="15" height="25">
    {% elif wind_dir == 'SE' %}
        <img src="{{ url_for('static', filename='img/arrows/SE.png') }}" alt="Southeast" width="25" height="25">
    {% elif wind_dir == 'SSE' %}
        <img src="{{ url_for('static', filename='img/arrows/SSE.png') }}" alt="South-Southeast" width="20" height="25">
    {% elif wind_dir == 'SSW' %}
        <img src="{{ url_for('static', filename='img/arrows/SSW.png') }}" alt="South-Southwest" width="20" height="25">
    {% elif wind_dir == 'SW' %}
        <img src="{{ url_for('static', filename='img/arrows/SW.png') }}" alt="Southwest" width="25" height="25">
    {% elif wind_dir == 'W' %}
        <img src="{{ url_for('static', filename='img/arrows/W.png') }}" alt="West" width="25" height="15">
    {% elif wind_dir == 'WNW' %}
        <img src="{{ url_for('static', filename='img/arrows/WNW.png') }}" alt="West-Northwest" width="25" height="25">
    {% elif wind_dir == 'WSW' %}
        <img src="{{ url_for('static', filename='img/arrows/WSW.png') }}" alt="West-Southwest" width="25" height="25">
    {% else %}
        <img src="{{ url_for('static', filename='img/marker_error.png') }}" alt="Not Available" width="25" height="25">
    {% endif %}

{% endmacro %}
