{# --------------------------------------------------
selectors.html.jinja
----------------------
Contains macros for selection menus, including:
- select_date
- select_single_location
- select_multiple_locations

Docs:
- [Jinja2 Docs: Macros](https://jinja.palletsprojects.com/en/3.1.x/templates/#macros)
-------------------------------------------------- #}

{% macro select_date(id_prefix='', url_arg_date='2017-06-24') %}

    {% if url_arg_date in [None, 'None', 'No Date'] %}
        {% set url_arg_date = '2017-06-24' %}
    {% endif %}

    {% set selected_year = url_arg_date[:4] | int %}
    {% set selected_month = url_arg_date[5:7] | int %}
    {% set selected_day = url_arg_date[8:] | int %}

    <div id="{{ id_prefix }}dateSelect">
        <select id="{{ id_prefix }}yearSelect">
            {% for year in range(2008, 2018) %}
                <option value="{{ year }}" {% if year == selected_year %} selected {% endif %}>
                        {{ year }}
                </option>
            {% endfor %}
        </select>

        <select id="{{ id_prefix }}monthSelect">
            {% set months = [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December'
            ] %}

            {% for i in range(months|length) %}
                <option value="{{ i+1 }}" {% if i+1 == selected_month %} selected {% endif %}>
                    {{ months[i] }}
                </option>
            {% endfor %}
        </select>

        <select id="{{ id_prefix }}daySelect">
            {% for day in range(1, 32) %}
                <option value="{{ day }}" {% if day == selected_day %} selected {% endif %}>
                    {{ day }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}


{% macro select_single_location(url_arg_city='Canberra') %}

    {% if url_arg_city == None or url_arg_city == 'NO DATA' %}
        {% set url_arg_city = 'Canberra' %}
    {% endif %}

    <select id="citySelect" name="cityId"> {# Added name attribute for connection to cityName #}
        {% set cities = [
            {'cityName': 'Albury', 'cityId': 0},
            {'cityName': 'Badgerys Creek', 'cityId': 1},
            {'cityName': 'Cobar', 'cityId': 2},
            {'cityName': 'Coffs Harbour', 'cityId': 3},
            {'cityName': 'Moree', 'cityId': 4},
            {'cityName': 'Newcastle', 'cityId': 5},
            {'cityName': 'Norah Head', 'cityId': 6},
            {'cityName': 'Norfolk Island', 'cityId': 7},
            {'cityName': 'Penrith', 'cityId': 8},
            {'cityName': 'Richmond', 'cityId': 9},
            {'cityName': 'Sydney', 'cityId': 10},
            {'cityName': 'Sydney Airport', 'cityId': 11},
            {'cityName': 'Wagga Wagga', 'cityId': 12},
            {'cityName': 'Williamtown', 'cityId': 13},
            {'cityName': 'Wollongong', 'cityId': 14},
            {'cityName': 'Canberra', 'cityId': 15},
            {'cityName': 'Tuggeranong', 'cityId': 16},
            {'cityName': 'Mount Ginini', 'cityId': 17},
            {'cityName': 'Ballarat', 'cityId': 18},
            {'cityName': 'Bendigo', 'cityId': 19},
            {'cityName': 'Sale', 'cityId': 20},
            {'cityName': 'Melbourne Airport', 'cityId': 21},
            {'cityName': 'Melbourne', 'cityId': 22},
            {'cityName': 'Mildura', 'cityId': 23},
            {'cityName': 'Nhil', 'cityId': 24},
            {'cityName': 'Portland', 'cityId': 25},
            {'cityName': 'Watsonia', 'cityId': 26},
            {'cityName': 'Dartmoor', 'cityId': 27},
            {'cityName': 'Brisbane', 'cityId': 28},
            {'cityName': 'Cairns', 'cityId': 29},
            {'cityName': 'Gold Coast', 'cityId': 30},
            {'cityName': 'Townsville', 'cityId': 31},
            {'cityName': 'Adelaide', 'cityId': 32},
            {'cityName': 'Mount Gambier', 'cityId': 33},
            {'cityName': 'Nuriootpa', 'cityId': 34},
            {'cityName': 'Woomera', 'cityId': 35},
            {'cityName': 'Albany', 'cityId': 36},
            {'cityName': 'Witchcliffe', 'cityId': 37},
            {'cityName': 'Pearce RAAF', 'cityId': 38},
            {'cityName': 'Perth Airport', 'cityId': 39},
            {'cityName': 'Perth', 'cityId': 40},
            {'cityName': 'Salmon Gums', 'cityId': 41},
            {'cityName': 'Walpole', 'cityId': 42},
            {'cityName': 'Hobart', 'cityId': 43},
            {'cityName': 'Launceston', 'cityId': 44},
            {'cityName': 'Alice Springs', 'cityId': 45},
            {'cityName': 'Darwin', 'cityId': 46},
            {'cityName': 'Katherine', 'cityId': 47},
            {'cityName': 'Uluru', 'cityId': 48}
        ] %}

        {% for city in cities %}
            <option value="{{ city.cityId }}" {% if city.cityName == url_arg_city %} selected {% endif %}>
                {{ city.cityName }}
            </option>
        {% endfor %}

    </select>
{% endmacro %}


{% macro select_multiple_locations() %}
    <p>[my pal Eric has TODO this]</p>
    {#
        Eric, I'm hoping you can make a PURE HTML/CSS dropdown 
        checklist of some sort, so that it fits in the select-table.

        This might require defining some custom css classes, but
        trust me, that will be better than using Bootstrap or some
        other external library (in the context of this project)
    #}
{% endmacro %}